<%= form_for RefuseReason.new, url: recruiters_refuse_reasons_path do |f| %>
  <%= hidden_field_tag 'refuse_reason[delivery_id]', @delivery.id %>
  <p>
    拒绝原因：
  </p>
  <p>
    <%= f.text_area :content, class: "form-control", rows: 10 %>
  </p>
  <%= f.submit "提交", class: "btn btn-primary" %>
<% end %>