<div class="col-md-6">
  <div class="jumbotron text-center">
    <p class="lead">
      您可以扫描下面的二维码关注众聘达人服务号。<br>关注后当您的简历被查看或获得红包奖励时，我们会给您发送微信通知。
    </p>
    <p>
      <%= image_tag qrcode_url, style: 'width: 200px' %>
    </p>
  </div>
</div>
