<div class="jumbotron">
  <p class="lead">
    请扫描下面的二维码关注众聘达人服务号。当您的简历被查看或获得获得红包奖励时，我们会给您发送实时通知。
  </p>
  <p>
    <%= image_tag @qrcode_url, style: 'width: 200px' %>
  </p>
  <p>
    <%= link_to '继续推荐', suppliers_job_path(params[:job_id]), class: 'btn btn-lg btn-success' %>
  </p>
</div>
