<% content_for :title, "高欣艺 资深产品经理，护肤达人" %>
<% content_for :description do %>
  <div style="word-break:break-all;">
    <p>
     产品经理新手成长指南
     互联网的产品经理是一个很年轻的职业。够聪明、够用心，做足5年，就可以成为高级产品经理——独立带团队，做很酷的产品。

     2009年，我进入豆瓣，在豆瓣电台做产品经理；3年后跳槽阿里巴巴做O2O，主要参与品牌商与天猫的线下线上对接；2014年进入凤凰网负责凤凰新闻客户端的全新改版。

     作为一个踩过各种坑又努力爬出来的高级产品经理，我可以为初入行1-2年的产品经理提供如下两方面指导：

     如何设计和改进产品功能。直接模仿其他产品，不理解背后的逻辑，是无法成功的。如何把用户需求落实到具体的功能细节，让用户理解、喜欢和使用？想法正确，产品的细节设计出错，如何纠正？

     针对你正在做的产品，告诉你此类产品的基本逻辑和规则。通过对比相关的优秀产品，分析你做得好与不好的地方，指点你如何改进。

     我不会跟你讲这个产品是否该做，只会讲这个产品该怎样做。换句话说，我不跟你讲决策层面的东西，只跟你谈细节。因为我认为，1-2年的产品经理在工作中涉及不到大的产品决策，也没必要想太多，做好你自己掌控范围内的具体工作，就是最有价值的积累。

     我熟悉的领域包括：个性化推荐，论坛与社区搭建，阅读与信息呈现，O2O电商品牌，渠道推广。

     在凤凰网，我负责带一些编辑、运营的同事转行产品经理，在此过程中摸索出一些行之有效的方法。如果你也想从内容岗位转行产品经理，我可以帮助你切换思维方式，包括：

     如何从细节处找可改进的功能点，培养产品感觉；
     如何改进功能，告诉你调整的方向和细节是否可行；
     如何理解用户调研，分辨需求的真伪。
     通过讲细节、做小事，我可以帮助你潜移默化地改变思维模式，半年时间成为产品助理，辅助做一些产品功能；一年时间成为初级产品经理，独立负责小的模块。

     我工作过的地方虽然数量不多，但形态多样，有创业公司，也有大公司；有非常文艺的公司，也有非常商业的公司；有纯粹的互联网公司，也有从传统媒体转型的互联网公司。因此，如果你正在考虑去什么样的公司工作，我可以告诉你：

     在这些不同类型的公司，你会得到什么，会失去什么；会获得哪些成长，会受到哪些局限；
     从一类公司跳槽到另一类公司，你可能面对什么不适，需要怎样的调整。
     此外，根据我自己以及周围人的经历和思索，我也可以帮你分析：
     你应该继续留在现在的岗位和公司，还是最好换一家公司，或是干脆转换职业跑道；
     你是否有必要出国深造，对于机会成本、时间成本和金钱成本应该如何考量。
    </p>
  </div>
<% end %>

<% content_for :questions do %>
  <p>
    <div class="sidebar-module sidebar-module-inset">
      <h2><%= link_to "众聘达人", root_path %></h2>
      <h3>
        推荐优质简历
      </h3>
      <h3>
        获得企业悬赏
      </h3>
      <br>
      <%= link_to "我要红包", Job, class: "btn btn-danger" %>
    </div>
    <hr>
    <h4>更多文章</h4>
    <ol class="list-unstyled">
      <% Blog.all.each do |blog| %>
        <li><%= link_to blog.title, blog %></li>
      <% end %>
    </ol>
  </p>
<% end %>
