<%= render '/shared/search', title: '合作伙伴', url: admins_partners_path, placeholder: '合作伙伴', search_fields: 'name_cont', q: @q %>
<div class="row">
  <%= render partial: 'partner', collection: @partners %>
</div>

<%= render 'shared/paginate', objs: @partners %>

<%= link_to '添加合作伙伴', new_admins_partner_path, class: 'btn btn-primary' %>
