<%= render 'shared/email_head', recruiter: @job.recruiter %>
<div class="body">
  <p class='lh24'>
    您在<strong class="recruiter">众聘达人</strong>发布的<strong class="recruiter"><%= @job.title %></strong>职位,管理员为了更好的招聘效果，已为您做出微调并成功发布，谢谢您的耐心等待。因为一份好的职位描述才能为企业带来更多的众聘推荐，所以我们加入了审核流程并查收了您的职位押金。
  </p>
  <p class='lh24'>
    为了下一次更加优化您的职位描述，可参考我们的推荐模板。如果长期没有收到满意的推荐，可以尝试优化职位描述、提高红包数额或提供更精确的需求标签。
  </p>
  <div class="content">
    <p>
      <%= link_to '职位详情', "#{ROOT_URL}/recruiters/jobs/#{@job.id}" %>
    </p>
  </div>
</div>
<%= render 'shared/email_footer' %>
