<div class="modal-dialog modal-sm">
  <div class="modal-content" style='width: 300px; padding:20px;'>
    关注众聘达人，当您获得获得红包奖励时，我们会实时给您发送通知。
    <%= image_tag Weixin.qrcode_url(ticket), style: 'width: 100%;' %>
  </div>
</div>
