<div class="modal-dialog modal-sm">
  <div class="modal-content" style='width: 300px; padding:20px;'>
    扫描二维码，关注众聘达人微信公众号，关于您推荐的所有的简历的实时信息，将会通过微信公众号通知您。
    <%= image_tag Weixin.qrcode_url(ticket), style: 'width: 100%;' %>
  </div>
</div>
