<ul class="nav nav-pills nav-justified nav-self">
  <li role="presentation" class="active" onclick='edit(this);'>
    <%= link_to '编辑', '#' %>
  <li role="presentation" onclick='preview(this);'>
    <%= link_to '预览', '#' %>
  </li>
</ul>
<%= link_to '《markdown排版说明》', markdown_path, id: 'markdown-doc', target: '_blank' %>
