<div class='footer'>
  <p>
    如有任何问题，可以与我们联系，我们将尽快为你解答。
  </p>
  <p>
    Email：<a href="mailto:wade.song@zpdaren.com">wade.song@zpdaren.com</a> ，电话：13061101022
  </p>
  <p class='fs18'>
    为保证邮箱正常接收，请将<a href="mailto:<%= email %>"><%= email %></a>添加进你的通讯录
  </p>
</div>
