<div class="head">
  <p>
    <%= image_tag attachments['logo.png'].url %>
    <span>
      <a href="<%= ROOT_URL %>" class="zpdaren">进入众聘达人</a>
    </span>
  </p>
  <p>
    <span class="recruiter"><%= recruiter.email %></span> 您好！
  </p>
</div>
