<div class="container">
  <p>
    <div class="text-center">
      <footer>
        <p class="help-block">&copy; 火花航程科技有限公司 <%= Time.now.year %> 京ICP备15025439号-1</p>
      </footer>
    </div>
    <%= render "/shared/cnzz" %>
  </p>
</div>
