<div class="row title">
  <div class="col-lg-12">
    <div class="input-group">
      <h2>
        <strong><%= title %></strong>
      </h2>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
