<ul class="nav nav-tabs">
  <% active = (params[:state] == "high_priority") ? "active" : "" %>
  <li role="presentation" class="<%= active %>">
    <%= link_to "急招职位<span class='badge'>#{active.present? ? jobs.count : Job.available.priority('high').count }</span>".html_safe, suppliers_jobs_path(:state => "high_priority") %>
  </li>
  <% active = (params[:state] != "high_priority") ? "active" : "" %>
  <li role="presentation" class="<%= active %>">
    <%= link_to "最新职位<span class='badge'>#{active.present? ? jobs.count : Job.available.count}</span>".html_safe, suppliers_jobs_path %>
  </li>
</ul>
