<div class="container">
  <div class="text-center fs18">热门文章(<%= link_to "更多", Blog %>)</div>
  <br>
  <div class="row">
    <% Blog.all.each.each do |blog| %>
    <div class="col-xs-18 col-md-4">
      <div class="text-center">
        <p><%= link_to blog.title, blog %></p>
        <p><%= truncate(blog.content, :length => 80, :omission => "" , :escape => false) %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
