<div class="container">
  <p>
    <div class="col-md-4 col-md-offset-2">
      <h4>联系我们</h4>
      地址: 中关村东路1号清华园科技大厦D座启迪之星孵化器<br>
      电话: 13061101022<br>
      邮箱: wade.song@foxmail.com<br>
      网址: www.zpdaren.com<br>
    </div>
  </p>
</div>
<br>
