<div class="jumbotron jumbotron-bgc">
  <div class="container">
    <div class="row text-center">
      <div class="role-entity">
        <%= image_tag 'recruiter.png' %>
        <div>
          <p class="title">招聘方</p>
          <p class="descrition">
            如果你是相对早期的公司，为有限的人才来源烦恼，这里众多的HR和业内资深人士将为你推荐大量优秀可靠成功率高的简历。
          </p>
          <p class="more">
            <a href="/recruiters/sign_up" role="button">了解更多 &raquo;</a>
          </p>
        </div>
      </div>

      <div class="role-entity">
        <%= image_tag 'supplier.png' %>
        <div>
          <p class="title">推荐方</p>
          <p class="descrition">
            你可以是人力资源工作者、招聘专员、掌握大量简历的业内资深人士也可以是猎头。这里碎片化的时间将为你带来足够的收益。
          </p>
          <p class="more">
            <a href="/suppliers/sign_up" role="button">了解更多 &raquo;</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>