<div class="jumbotron jumbotron-bgc">
  <div class="container">
    <div class="row text-center">
      <div class="role-entity">
        <%= image_tag 'recruiter.png' %>
        <div>
          <p class="">招聘方</p>
          <p class="descrition">
            如果您是相对早期的公司，为有限的人才来源烦恼，我们这里有大量优秀可靠、成功率高的简历可供您选择。
          </p>
        </div>
      </div>

      <div class="role-entity">
        <%= image_tag 'supplier.png' %>
        <div>
          <p class="">推荐方</p>
          <p class="descrition">
            如果您手中有可靠的简历资源，与我们合作，只需要每周很少的零散时间，众聘达人就会为您带来大量的收益。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
