<div class="container">
  <div class="text-center fs18">热门职位</div>
  <br>
  <div class="row">
    <% Job.high_priority_samples.each do |job| %>
    <div class="col-xs-6 col-md-4">
      <blockquote>
        <p><%= truncate("#{job.title}", length: 16) %></p>
        <%= job.company_name %>
        <p><footer>入职红包: <%= job.bonus %></footer></p>
        <p><%= link_to "为他推荐", job_path(job), class: "btn btn-primary btn-sm" %></p>
      </blockquote>
    </div>
    <% end %>
  </div>
</div>
