<div class="container">
  <div class="text-center fs18">热门职位</div>
  <br>
  <div class="row">
    <% Job.high_priority_samples.each do |job| %>
    <div class="col-xs-6 col-md-4">
      <blockquote>
        <p><%= job.title_show_in_front_page %></p>
        <%= job.company_name %>
        <p><footer>入职红包: <%= job.bonus %></footer></p>
        <p><a class="btn btn-primary btn-sm" href="/suppliers/sign_up">为他推荐 &raquo;</a></p>
      </blockquote>
    </div>
    <% end %>
  </div>
</div>
