<div class="row text-center">
  <h3>达人指路</h3><br>
  <% Interview.all[0..2].each do |interview| %>
    <div class="col-lg-4">
      <%= image_tag(interview.avatar_url, :class => "img-circle", :size => "140x140") if interview.avatar? %>
      <h2><%= interview.professor_name %></h2>
      <p><%= truncate_html interview.content %></p>
      <p><%= link_to "我要提问 &raquo;".html_safe, interview, :class => "btn btn-default" %></p>
    </div>
  <% end %>
</div>
