<div class="modal fade" id="ModalForgetPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">找回您在众聘达人的密码</h4>
      </div>
      <div class="modal-body">
        <%= form_for(User.new, as: "user", url: user_password_path, html: { method: :post }) do |f| %>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, class: "form-control input-lg", placeholder: "邮箱" %>
          </div>
          <p class="help-block">请输入您的注册邮箱地址，我们会发给您重置密码链接.</p>
          <%= f.submit "发送确认邮件", :class => "btn btn-primary btn-lg btn-block" %>
        <% end %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
