<div class="container pt48 pb48">
  <div class="text-center fs18">合作伙伴</div>
  <p>
    <div class="col-md-2 col-md-offset-2 text-center partner-logo">
      <%= image_tag 'kr_space' %>
    </div>
    <div class="col-md-2 col-md-offset-0 text-center partner-logo">
      <%= image_tag 'spaceyun' %>
    </div>
    <div class="col-md-2 col-md-offset-0 text-center partner-logo">
      <%= image_tag 'tusstar' %>
    </div>
    <div class="col-md-2 col-md-offset-0 text-center partner-logo">
      <%= image_tag 'octopus_school' %>
    </div>
  </p>
</div>
<hr>