<div class="row text-center">
  <h3>合作伙伴</h3>
  <% Partner.all.each do |partner| %>
    <div class="col-md-2 text-center partner-logo">
      <%= link_to image_tag(logo_download_partner_path(partner)), partner.url.present? ? partner.url : partner_path(partner), target: '_blank' %>
    </div>
  <% end %>
</div>
<hr>
