<div class="col-md-offset-0 col-md-5">
  <div>
    <h1>
      众聘达人
    </h1>
    <h2>
      推荐优质&nbsp;简历&nbsp;</span>
    </h2>
    <h2>
      获得企业&nbsp;悬赏&nbsp;</span>
    </h2>
    <br>
  </div>
</div>