<br>
<div class="container">
  <div class="jumbotron">
    <h2>我们给您发送了重置密码邮件。<br>
      请登录您的注册邮箱点击"重置密码"，按操作完成密码重置。</h2><br>
    <blockquote class="blockquote-reverse">
      5秒后本页会自动关闭并跳转到众聘达人首页。
    </blockquote>
  </div>
</div>
<script>setTimeout(function(){window.location.href='/'}, 5000);</script>
