<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="first-slide" src="/assets/front_image1" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
        </div>
      </div>
    </div>
    <div class="item">
      <img class="first-slide" src="/assets/front_image2" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
        </div>
      </div>
    </div>
    <div class="item">
      <img class="first-slide" src="/assets/front_image3" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <br><br><br><br><br>
    <span class="fa fa-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <br><br><br><br><br>
    <span class="fa fa-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<br>
<div class="container">
  <h4><div class="text-center">如何使用</div></h4>
  <p>
    <div class="col-md-8 col-md-offset-2">众聘达人是火花旗下的招聘平台，火花团队的合伙人来自MIT、Draper University和甲骨文等名校和名企，发起于硅谷，获得IDG资本注资。我们致力于打造Uber for HR，让人力资源和招聘行业的资源充分优化，为企业解决难以找到人才渠道的问题。众聘，让招聘更简单！</div>
  </p>
  <br><br><br><br>
  <p>
    <div class="col-md-8 col-md-offset-2"><%= image_tag "how_to_use", class: "img-responsive" %></div>
  </p>

</div>
<br>
<br>

<div class="jumbotron">
  <div class="container">
    <div class="row text-center">
      <div class="role-entity">
        <%= image_tag 'recruiter.png' %>
        <div>
          <p class="title">招聘方</p>
          <p class="descrition">
            如果你是相对早期的公司，为有限的人才来源烦恼，这里众多的HR和业内资深人士将为你推荐大量优秀可靠成功率高的简历。
          </p>
          <p class="more">
            <a href="/recruiters/sign_in" role="button">了解更多 &raquo;</a>
          </p>
        </div>
      </div>

      <div class="role-entity">
        <%= image_tag 'supplier.png' %>
        <div>
          <p class="title">推荐方</p>
          <p class="descrition">
            你可以是人力资源工作者、招聘专员、掌握大量简历的业内资深人士也可以是猎头。这里碎片化的时间将为你带来足够的收益。
          </p>
          <p class="more">
            <a href="/suppliers/sign_in" role="button">了解更多 &raquo;</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h4><div class="text-center">合作伙伴</div></h4>
  <br>
  <p>
    <div class="col-md-2 col-md-offset-2">众聘达人</div>
    <div class="col-md-2 col-md-offset-0">众聘达人</div>
    <div class="col-md-2 col-md-offset-0">众聘达人</div>
    <div class="col-md-2 col-md-offset-0">众聘达人</div>
  </p>
</div>
<br>

<div class="jumbotron">
  <div class="container">
  <h4><div class="text-center">成功案例</div></h4>
  <br>
  <p>
    <div class="col-md-2 col-md-offset-2">众聘达人</div>
    <div class="col-md-2 col-md-offset-0">众聘达人</div>
    <div class="col-md-2 col-md-offset-0">众聘达人</div>
    <div class="col-md-2 col-md-offset-0">众聘达人</div>
  </p>
  </div>
</div>


<br>

<div class="container">
  <p>
    <div class="col-md-4 col-md-offset-2">
      联系我们：<br>
      地址<br>
      电话<br>
      网址<br>
    </div>
    <div class="col-md-2 col-md-offset-2"><%= image_tag "qrcode.jpg" %></div>
  </p>
</div>
<br>