<div class="jumbotron">
  <div class="container">
    <%= bootstrap_flash %>
    <h1>火花航程科技有限公司</h1>
    <p>火花是IDG投资的最早团队之一，也是36氪氪空间2期唯一一个90后团队。火花的创始人徐敬程与宋航两位于2014年创办了火花航程科技有限公司(Y Academy )，开始从事互联网的商业开发和运营。</p>

  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>招聘方</h2>
      <p>来这能低成本快速招聘</p>
      <p><a class="btn btn-default" href="#" role="button">了解更多 &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>推荐方</h2>
      <p>来这可以将手中闲余简历资源方便快速变现</p>
      <p><a class="btn btn-default" href="#" role="button">了解更多 &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>求职者</h2>
      <p>来这能快速入职的同时还能赚到红包</p>
      <p><a class="btn btn-default" href="#" role="button">了解更多 &raquo;</a></p>
    </div>
  </div>
  <hr>
</div> <!-- /container -->
