<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-sm-offset-1">
      <br><br>
      <div class="panel-default" style="border:0px;">
        <div class="panel-body">
          <p class='text-center fs32'>Markdown 教程</p>
          <br>
          <div class="row">
            <div class="col-md-6">
              <pre><code><%= MARKDOWN_DOC %></code></pre>
            </div>
            <div class="col-md-6">
              <%= markdown(MARKDOWN_DOC)%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

