<!-- <%= image_tag 'front_image', class: "img-responsive" %> -->
<div class="front_image">
  <br><br><br><br><br><br>

  <div class="col-md-offset-1 col-md-5">
    <div class="">
      <H1>
        <p class="text-white" style="font-size:52px;"><b>众聘达人<b></p>
      </H1 >
      <H2>
        <p class="text-white">助您<b><span style="font-size:40px;">&nbsp;挖&nbsp;</span></b>到最优秀的人才</p>
      </H2 >
      <br>
      <H3>
        <p class="text-primary">在众聘达人发布招聘信息，您可以极速获得：</p>
      </H3>
      <br>
      </H4>
        <p class="text-white"><i class="fa fa-check"></i>别家公司的闲置候选人简历</p>
        <p class="text-white"><i class="fa fa-check"></i>猎头精挑细选的候选人简历</p>
        <p class="text-white"><i class="fa fa-check"></i>行业资深人士的权威推荐</p>
      </H4>
    </div>
  </div>
  <% @resource = Recruiter.new %>
  <% @resource_name = "recruiter" %>
  <%= render "register" %>
</div>
<%= render "common_help" %>
