<br>
<div class="container">
  <div class="jumbotron">
    <h2 class='self-h2'>感谢您的注册，我们给您发送了确认邮件。<br>
      请登录您的注册邮箱点击"绑定"，完成注册即可登录了。</h2><br>
    <blockquote class="blockquote-reverse">
      5秒后本页会自动关闭并跳转到众聘达人首页。
    </blockquote>
  </div>
</div>
<script>setTimeout(function(){window.location.href='home'}, 5000);</script>