<div class="front_image_supplier">
  <br><br><br><br><br><br>
  <div class="col-md-offset-1 col-md-5">
    <div class="">
      <H1>
        <p class="text-white" style="font-size:52px;"><b>众聘达人<b></p>
      </H1 >
      <H2>
        <p class="text-white">招聘领域的&nbsp;滴滴</p>
      </H2 >
      <br>
      <H3>
        <p class="text-primary">用您的闲置简历帮助别人并<b><span style="font-size:36px;">&nbsp;变现&nbsp;</span></b></p>
      </H3>
      <br>
      </H4>
        <p class="text-white"><i class="fa fa-check"></i>上传简历</p>
        <p class="text-white"><i class="fa fa-check"></i>躺着收钱</p>
      </H4>
    </div>
  </div>
  <% @resource = Recruiter.new %>
  <% @resource_name = "recruiter" %>
  <%= render "register" %>
</div>
<%= render "common_help" %>
