<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>公司名称</th>
        <th>联系电话</th>
        <th>联系邮箱</th>
      </tr>
    </thead>
    <tbody>
      <% companies.each do |company| %>
        <tr>
          <td>
            <%= image_tag 'company_certificate_24.png' if company.service_protocol? %>
            <%= link_to company.name, admins_company_path(company.id) %>
          </td>
          <td><%= company.mobile %></td>
          <td><%= company.recruiter.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>