<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>联系邮箱</th>
        <th>简历数量</th>
        <th>推荐数量</th>
      </tr>
    </thead>
    <tbody>
      <% suppliers.each do |supplier| %>
        <tr>
          <td><%= supplier.email %></td>
          <td><%= link_to supplier.resumes.count, admins_resumes_path(:supplier_id => supplier) %></td>
          <td><%= link_to supplier.deliveries.count, admins_deliveries_path(:supplier_id => supplier) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
