<br>
<ol class="breadcrumb">
  <li><%= link_to '我的简历', suppliers_resumes_path %></li>
  <li><%= link_to @resume.candidate_name, suppliers_resume_path(@resume) %></li>
  <li class="active">编辑简历</li>
</ol>

<%= render 'shared/page_title', title: '编辑简历' %>

<%= render 'form', resume: @resume, url: suppliers_resume_path, method: 'PUT' %>
