<p class="text-right">
  <span class="label label-info">总推荐</span>
  <span class="label label-primary">已审核</span>
  <span class="label label-success">已付费</span>
  <span class="label label-danger">已拒绝</span>
</p>
