<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>标题</th>
        <th>简历数量</th>
        <th>红包</th>
        <th>创建时间</th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td><%= link_to job.title, admins_job_path(job.id) %></td>
          <td>100</td>
          <td><%= job.bonus %></td>
          <td><%= job.created_at.strftime('%Y-%m-%d %H:%M:%S')%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>