<div class="container">
  <%= form_for(resource, as: resource_name, url: recruiter_password_path, html: { method: :post, class: "form-signin" }) do |f| %>
    <h2>请输入邮箱地址，我们会发给您重置密码邮件</h2>
    <%= devise_error_messages! %>

    <div class="form-group">
      <p class="form-control-static"><%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %></p>
    </div>
    <%= f.submit "发送确认邮件", :class => "btn btn-default" %>
  <% end %>
</div>
