<% Job.priority_tags.each do |tag| %>
  <div id="draggable" class="draggable2 label label-primary">
    <%= tag.name %>
  </div>
<% end %>

<%= content_for :scripts do %>
  <script>
    $(function() {
      $( ".draggable2" ).draggable();
      $( "#droppable2" ).droppable({
        drop: function( event, ui ) {
          $.ajax({
            type: 'PUT',
            url: '/admins/tags/update',
            data: { priority: 1, tag: $(ui.draggable).text() },
          });
        }
      });
    });
  </script>
<% end %>