<style>
  #draggable { padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
  #droppable1 { width: 400px; height: 800px; padding: 0.5em; float: left; margin: 10px; }
  #droppable2 { width: 400px; height: 800px; padding: 0.5em; float: left; margin: 10px; } </style>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <td class="default">

          <div id="droppable1">
            <h4>不显示在表头</h4>
            <%= render "nomal_tags" %>
          </div>
        </td>
        <td class="success">

          <div id="droppable2" >
            <h4>显示在表头</h4>
            <%= render "priority_tags" %>
          </div>
        </td>
      </tr>
    </thead>
  </table>
</div>
