<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>推荐人</th>
        <th>标签</th>
        <th>简历原件</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @resumes.each do |resume| %>
        <tr>
          <td><%= resume.candidate_name %></td>
          <td><%= resume.tag_list %></td>
          <td><%= link_to resume.attachment.file.file.split('/')[-1], original_resume_download_admins_resume_path(resume[:id]) %></td>
          <td>
            <% if resume.checked? %>
              已审核
            <% else %>
              <%= link_to '审核', edit_admins_resume_path(resume.id), class: 'btn btn-primary active' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>