<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>标题</th>
        <th>简历数量</th>
        <th>红包</th>
        <th>创建时间</th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td><%= job.title %></td>
          <td>100</td>
          <td><%= job.bonus %></td>
          <td><%= job.created_at%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<p>
  <%= link_to "发布新的职位", new_recruiters_job_path, class: "btn btn-primary btn-lg active", role: "button" %>
</p>