.text-center{
  text-align: center;
}
.fs18{
  font-size: 18px;
}
.fs14{
  font-size: 14px;
}
.fs12{
  font-size: 12px;
}
.mt20{
  margin-top: 20px;
}
.mb20{
  margin-bottom: 20px;
}
.ml2em{
  margin-left: 2em;
}
.pt48{
  padding-top: 48px;
}
.pb48{
  padding-bottom: 48px;
}
.lh20{
  line-height: 20px;
}
.h180{
  height: 180px;
}
.default-bgc{
  background-color: #fafafa;
}
.ti2{
  text-indent: 2em;
}
.word-break{
  word-break:break-all;
}
.red-star{
  color: red;
  vertical-align: text-top;
}
.red-color{
  color: red;
}
.button_to{
  display:inline-block;
}
