.replies {margin-left: 8%;}

.replies .replies .replies {margin-left: 0;}

/* Animations */
.thumbuped {
  animation:bounceIn infinite;
  animation-duration:0.5s;
  animation-iteration-count:1;

  /* Safari and Chrome */
  -webkit-animation:bounceIn infinite;
  -webkit-animation-duration:0.5s;
  -webkit-animation-iteration-count:1;
  color: #EB5424;
}

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.5);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.5);
  }

  70% {
    -webkit-transform: scale(.9);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(.5);
  }

  50% {
    opacity: 1;
    transform: scale(1.5);
  }

  70% {
    transform: scale(.9);
  }

  100% {
    transform: scale(1);
  }
}

.unthumbuped{
  cursor:pointer;
}
.bottom-column {
    position: fixed;
    bottom: 40px;
    z-index: 9999;
}
