#draggable { padding: 0.5em; float: left; margin: 10px 10px 10px 0; cursor: move; }
#droppable_nomal_tags, #droppable_priority_tags { width: 400px; height: 800px; padding: 0.5em; float: left; margin: 10px }
