<p>您好 <%= @resource.email %></p>

<p>点击下面的链接进入密码重置页面.</p>

<p><%= link_to '重置密码', edit_user_password_url(@resource, reset_password_token: @token) %></p>

<p>如果不是您自己请求重置您的【众聘达人】的登录密码，那么请您忽略该邮件.</p>
<p>除非您点击上面的链接重置您的【众聘达人】的登录密码，否则您的密码是不会被修改的.</p>
<%= render "/shared/email_footer", email: Settings.email.default_account.user_name %>
