<%= render 'admins/shared/search', url: admins_deliveries_path, placeholder: '输入简历标签' %>
<%= render 'list', deliveries: @deliveries %>
<div class='text-center'>
  <%= will_paginate @deliveries, renderer: BootstrapPagination::Rails, previous_label: '上一页', next_label: '下一页' %>
</div>
