<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>推荐人</th>
        <th>标签</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @resumes.each do |resume| %>
        <tr>
          <td><%= resume.candidate_name %></td>
          <td><%= resume.tag_list %></td>
          <td>
            <%= link_to '查看', recruiters_resume_path(resume.id), class: 'btn btn-primary active' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>