<div>
  <p class="lead"><%= @resume.candidate_name %></p>

  <p>
    候选人联系方式(付费<20>元后可看) <%= link_to "付费20元", "", class: "btn btn-primary active", role: "button" %>
  </p>

  <p><%= simple_format @resume.description %></p>

</div>
