<!DOCTYPE html>
<html lang="en">
  <%= render partial: "/shared/head" %>
  <body>
    <%= render partial: "/shared/navbar" %>
    <%= yield %>
    <div class="container">
      <%= render "/shared/footer" %>
    </div>
  </body>
</html>
<!-- http://getbootstrap.com/getting-started/ -->
