<!DOCTYPE html>
<html lang="en">
  <%= render partial: "/shared/head" %>
  <body>
    <%= render partial: "/shared/navbar" %>
    <% flash[:error], flash[:success] = nil, nil %>
    <%= yield %>
    <%= render "/shared/footer" %>
  </body>
</html>
