<!DOCTYPE html>
<html lang="en">
  <%= render "/shared/head" %>
  <body>
    <%= render "/shared/navbar" %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 main">

          <div class="blog-post">
            <%= yield :job_info %>
          </div>
        </div>
      </div>
    </div>
    <%= render "/shared/footer" %>
  </body>
</html>
